.collection-carousel-section {
	position: relative;
}

.collection-carousel {
	position: relative;
	color: var(--text-color, $black);
}

.collection-carousel--padding-top {
	padding-top: var(--padding-top-mobile, 20px);
	@include breakpoint(medium) {
		padding-top: var(--padding-top, 40px);
	}
}

.collection-carousel--padding-bottom {
	padding-bottom: var(--padding-bottom-mobile, 20px);
	@include breakpoint(medium) {
		padding-bottom: var(--padding-bottom, 40px);
	}
}

.collection-carousel__container {
	position: relative;
	z-index: 1;
}

.collection-carousel__header {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 0 12px;
}

.collection-carousel__title {
	margin: 0 0 8px;
	text-align: center;
	@include breakpoint(large) {
		margin: 0 0 38px;
	}
	em {
		font-size: calc(100% + 4px);
		line-height: 1.2;
	}
}

.collection-carousel__slider-wrapper {
	padding-bottom: 20px;
}

.collection-carousel__slide {
	height: auto;
	padding: 0 5px;
	max-width: 73%;
	@include breakpoint(medium) {
		max-width: 37%;
	}
	@include breakpoint(large) {
		max-width: 25%;
	}

	&:first-child {
		margin-left: 5px;
		@include breakpoint(large) {
			margin-left: 0;
		}
	}

	&:last-child {
		margin-right: 5px;
		@include breakpoint(large) {
			margin-right: 0;
		}
	}
}

.collection-carousel__slider {
	overflow: hidden;
	margin: 0 -20px;
	padding: 10px 0 0;
	@include breakpoint(large) {
		margin: 0 -6px;
	}
}

.collection-carousel__slide-content {
	padding: 10px 10px 60px;
	text-align: center;
	font-family: $font-secondary;
	line-height: 1.29;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	height: 100%;
	background: var(--background, $green);
}

.collection-carousel__slide-media {
	position: relative;
	margin: 0 0 21px;
	flex: 0 1 auto;
	@include breakpoint(large) {
		margin: 0 0 30px;
	}
	&:after {
		content: "";
		display: block;
		padding-bottom: 74%;
		@include breakpoint(large) {
			padding-bottom: 72%;
		}
	}
}

.collection-carousel__card-title {
	margin: 0 0 10px;

}

.collection-carousel__card-description {
	p {
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		font-weight: inherit;
		letter-spacing: 0;
	}
}

.collection-carousel__card-header {
	padding: 0 0 12px;
	@include breakpoint(large) {
		padding: 0 0 16px;
	}
}

.collection-carousel__image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.collection-carousel__slide-meta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex: 1 1 auto;
	max-width: 280px;
}

.collection-carousel__image {
	object-fit: cover;
	max-width: none;
	height: 100%;
	width: 100%;
}

.collection-carousel__prev,
.collection-carousel__next {
	top: 30%;
	right: 0;
	z-index: 1;
	display: none;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 0;
	background: $white;
	transform: translateY(-50%);

	&.swiper-button-disabled {
		visibility: hidden;
		opacity: 0;
	}

	&::after {
		content: "";
		display: none;
	}
}

.collection-carousel__prev {
	left: 0;
	right: auto;
	transform: translateY(-50%) rotate(180deg);
}

.collection-carousel__slider-container {
	&.initialized {
		.collection-carousel__prev,
		.collection-carousel__next {
			display: flex;
		}
	}
}