.dynamic-header__menu-mobile {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 21px;
    padding-bottom: 30px;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    background: $green;
    z-index: 100;
    font-weight: 400;
    transition: all 0.2s linear;
    overflow: hidden;
    font-family: $font-primary;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    @include breakpoint (large){
        display: none;
    }

    .page-scrolled & {
        background: $beige;
    }

    &.mobile-menu-opened {
        transform: translateX(0);
    }
}

.dynamic-header__menu-mobile-opener {
    @include breakpoint (large){
        display: none;
    }

    .overflow-hidden-body &,
    .header-search-active & {
        opacity: 0;
        visibility: hidden;
    }

}

.header--sticky {
    .dynamic-header__menu-mobile-opener {
        .page-scrolled.overflow-hidden-body & {
            opacity: 0;
            visibility: hidden;
        }
    }
}


.dynamic-header__menu-mobile-close {
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    visibility: hidden;
    opacity: 0;
    .overflow-hidden-body & {
        visibility: visible;
        opacity: 1;
    }

    svg {
        width: 20px;
    }
}

.dynamic-header__menu-mobile-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    background: $green;
    z-index: 100;
    font-weight: 400;
    font-family: $font-primary;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.25em;
    text-transform: uppercase;

    .mobile-dropdown-opened & {
        transform: translateX(0);
    }

    .page-scrolled & {
        background: $beige;
    }
}

.dynamic-header__menu-mobile-content-wrapper {
    overflow-y: auto;
    height: 100%;
}

.dynamic-header__menu-mobile-content {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dynamic-header__menu-mobile-link {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.dynamic-header__menu-mobile-dropdown-item,
.dynamic-header__menu-mobile-topheader-item,
.dynamic-header__menu-mobile-item {
    padding: 0 0 10px;

    &:last-child {
        padding: 0;
    }
}

.dynamic-header__menu-mobile-parent-link {
    padding-left: 10px;
}

.dynamic-header__menu-mobile-dropdown-list {
    padding: 30px 0 0;
}

.dynamic-header__menu-mobile-back-btn {
    height: 30px;
    width: 30px;

    svg {
        transform: rotate(180deg);
    }
}

.dynamic-header__menu-mobile-childlink-header {
    display: flex;
    align-items: center;
}

.dynamic-header__list-social {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
}