.content-section__col {
	font-size: var(--text-font-size, 16px);
	text-align: var(--text-align, center);
	height: var(--section-height, 420px);
	color: var(--text-color, white);
	transition: all 0.2s linear;
	@include breakpoint(large) {
		height: calc(var(--section-height, 400px) * 2);
    }
}
.content-section--padding-top {
	padding-top: var(--padding-top-mobile, 20px);
    @include breakpoint(medium) {
		padding-top: var(--padding-top, 40px);
	}
}
.content-section--padding-bottom {
	padding-bottom: var(--padding-bottom-mobile, 20px);
    @include breakpoint(medium) {
		padding-bottom: var(--padding-bottom, 40px);
	}
}
.content-section__text-wrapper {
	justify-content: var(--justify-content, center);
  	align-items: var(--align-items, center);
}
.content-section__text {
	text-align: var(--text-align, center);
}
.content-section__title {
	color: currentColor;
	span {
		display: block;
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		letter-spacing: inherit;
		color: currentColor;
		font-style: inherit;
	}
	em {
		font-size: var(--title-font-size, 32px);
		@include breakpoint(large) {
			font-size: var(--title-font-size, 64px);
		}
	}
}
.content-section__image {
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		background: var(--overlay-color, $black);
		opacity: var(--overlay-opacity, 0.5);
		height: var(--overlay-height, 100%);
	}
}