.product-carousel-section {
	position: relative;
}

.product-carousel {
	position: relative;
	color: var(--text-color, $black);
}

.product-carousel--padding-top {
	padding-top: var(--padding-top-mobile, 20px);
	@include breakpoint(medium) {
		padding-top: var(--padding-top, 40px);
	}
}

.product-carousel--padding-bottom {
	padding-bottom: var(--padding-bottom-mobile, 20px);
	@include breakpoint(medium) {
		padding-bottom: var(--padding-bottom, 40px);
	}
}

.product-carousel__container {
	position: relative;
	z-index: 1;
}

.product-carousel__header {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 0 12px;
}

.product-carousel__title {
	margin: 0 0 8px;
	text-align: center;
	@include breakpoint(large) {
		margin: 0 0 38px;
	}
	em {
		font-size: calc(100% + 4px);
		line-height: 1.2;
	}
}

.product-carousel__slider-wrapper {
	padding-bottom: 20px;
}

.product-carousel__slide {
	height: auto;
	padding: 0 5px;
	max-width: 76.5%;
	@include breakpoint(medium) {
		max-width: 42%;
	}
	@include breakpoint(large) {
		max-width: 33.3333%;
		padding: 0 1px;
	}
}

.product-carousel__slider {
	overflow: hidden;
	margin: 0 -20px;
	padding: 10px 0 0;
	position: relative;
	@include breakpoint(large) {
		margin: 0 -2px;
	}
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 30px;
		background: linear-gradient(90deg, $beige 0%, rgba(244, 237, 229, 0) 100%);
		z-index: 2;
		@include breakpoint(large) {
			display: none;
		}
	}
	&:after {
		left: auto;
		right: 0;
		background: linear-gradient(270deg, $beige 0%, rgba(244, 237, 229, 0) 100%);
	}
}

.product-carousel__prev,
.product-carousel__next {
	top: 50%;
	right: 0;
	z-index: 3;
	display: none;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 0;
	transform: translateY(-50%);
	display: none;
	@include breakpoint(large) {
		top: 46%;
	}

	svg {
		width: 30px;
	}

	path {
		fill: $black;
	}

	&.swiper-button-disabled {
		visibility: hidden;
		opacity: 0;
	}

	&::after {
		content: "";
		display: none;
	}
}

.product-carousel__prev {
	left: 0;
	right: auto;
	transform: translateY(-50%) rotate(180deg);
}

.product-carousel__slider-container {
	@include breakpoint(large) {
		padding-left: 52px;
		padding-right: 52px;
	}
	&.initialized {
		.product-carousel__prev,
		.product-carousel__next {
			@include breakpoint(large) {
				display: flex;
			}
		}
	}
	&:after,
	&:before {
		@include breakpoint(large) {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 52px;
			background: $green;
			transition: all 0.2s linear;
			z-index: 2;
		}
		.page-scrolled & {
			@include breakpoint(large) {
				background: $beige;
			}
		}
	}
	&:after {
		left: auto;
		right: 0;
	}
}